<style>
        h4{
            color: darkblue;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
        h3{
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            color: blue;
        }
        li{
            color: darkblue;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
      mark{
          background-color: aqua;
          font-family: cursive;
      }
      h1{
          font-family: 'Courier New', Courier, monospace;
          font: size 100cm;
      }
      p{
          font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
          color: brown;
      }
      abbr{
          color: blue;
          font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      }
      h2{
        color: rgb(148, 58, 17);
          font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      }
    </style>